---
name: test
on: pull_request
jobs:
  test:
    runs-on: ubuntu-24.04
    outputs:
      number: ${{ matrix.number }}
      ages: '[10, 20]'
    env:
      NUMBER: ${{ matrix.number }}
    strategy:
      fail-fast: false
      matrix:
        number:
          - 1
          - 2
    steps:
      - run: echo "$NUMBER"
  test-2:
    runs-on: ubuntu-24.04
    needs: [test]
    env:
      NUMBER: ${{ matrix.number }}
      AGE: ${{ matrix.age }}
    strategy:
      fail-fast: false
      matrix:
        age: ${{ fromJSON(needs.test.outputs.ages) }}
    steps:
      - run: echo "$NUMBER $AGE"
