---
name: test
on: pull_request
jobs:
  test:
    runs-on: ubuntu-24.04
    timeout-minutes: 15
    permissions: {}
    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false
      - uses: suzuki-shunsuke/pinact-action@latest
