---
name: test
on: pull_request
jobs:
  test:
    runs-on: ubuntu-24.04
    steps:
      - run: |
          echo "::group::foo"
          echo "foo1"
          echo "::group::bar"
          echo "bar1"
      - run: |
          echo "zoo"
