---
name: test
on: pull_request
jobs:
  test:
    runs-on: ubuntu-24.04
    steps:
      - id: list
        uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8.0.0
        with:
          script: |
            const data = await github.paginate("GET /search/code", {
              q: "filename:.goreleaser.yml user:suzuki-shunsuke",
              per_page: 100,
            });
            return data;
      - run: echo "${RESULT}"
        env:
          RESULT: ${{ steps.list.outputs.result }}
