---
name: test
on: pull_request
jobs:
  test:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false
      - run: echo "yooo" > yooo.txt
      - uses: actions/create-github-app-token@67018539274d69449ef7c02e8e71183d1719ab42 # v2.1.4
        id: token
        with:
          app-id: ${{ vars.APP_ID }}
          private-key: ${{ secrets.APP_PRIVATE_KEY }}
      - uses: suzuki-shunsuke/commit-action@pr/224
        with:
          # app_id: ${{ vars.APP_ID }}
          # app_private_key: ${{ secrets.APP_PRIVATE_KEY }}
          github_token: ${{ steps.token.outputs.token }}
          commit_message: "Add yooo.txt"
