---
name: test
on: pull_request
jobs:
  test:
    runs-on: ubuntu-24.04
    timeout-minutes: 15
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - run: git submodule init
      - run: git submodule update --remote
      - uses: suzuki-shunsuke/commit-action@v0.1.0
