---
name: test
on: pull_request
jobs:
  test:
    runs-on: ubuntu-24.04
    timeout-minutes: 15
    permissions:
      pull-requests: read
      contents: write
    steps:
      - env:
          GH_TOKEN: ${{github.token}}
          PR: ${{github.event.number}}
        run: |
          gh api \
            --method PUT \
            -H "Accept: application/vnd.github+json" \
            -H "X-GitHub-Api-Version: 2022-11-28" \
            "/repos/${GITHUB_REPOSITORY}/pulls/${PR}/update-branch"
