---
name: test
on: pull_request
jobs:
  test:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v5
        with:
          persist-credentials: "false"
      - uses: aquaproj/aqua-installer@11dd79b4e498d471a9385aa9fb7f62bb5f52a73c # v4.0.4
        with:
          aqua_version: v2.55.1
      - run: |
          pinact run --check
        env:
          AQUA_GITHUB_TOKEN: ${{github.token}}
