---
name: test
on: pull_request
jobs:
  test:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false
      - uses: aquaproj/aqua-installer@pr/441
        with:
          aqua_version: v2.55.1
      - uses: aquaproj/update-checksum-action@pr/441
