---
name: test
on:
  push:
    tags:
      - v*
jobs:
  test:
    runs-on: ubuntu-24.04
    steps:
      - run: echo "$PAYLOAD"
        env:
          PAYLOAD: ${{ toJson(github.event) }}
      - uses: aquaproj/aqua-installer@e5f2b7423821099ed57556f1480a6308038fe469
        with:
          aqua_version: v2.55.1
