---
name: test
on: pull_request
jobs:
  test:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v5
        with:
          persist-credentials: "false"
      - run: |
          eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
      - run: |
          eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
          brew install pinact
        env:
          HOMEBREW_NO_INSTALL_CLEANUP: "1"
      - run: |
          eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
          pinact run --check
