---
name: test
on: pull_request
jobs:
  prepare:
    runs-on: ubuntu-24.04
    permissions: {}
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@71cf2267d89c5cb81562390fa70a37fa40b1305e # v6-beta
        with:
          persist-credentials: false
      - uses: aquaproj/aqua-installer@11dd79b4e498d471a9385aa9fb7f62bb5f52a73c # v4.0.4
        with:
          aqua_version: v2.55.1
          aqua_opts: ""
      - uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: aqua
          path: ~/.local/share/aquaproj-aqua
          include-hidden-files: true

  test:
    runs-on: ubuntu-24.04
    needs: prepare
    permissions: {}
    timeout-minutes: 10
    env:
      AQUA_LOG_LEVEL: debug
      AQUA_LOG_COLOR: always
    steps:
      - uses: actions/checkout@71cf2267d89c5cb81562390fa70a37fa40b1305e # v6-beta
        with:
          persist-credentials: false
      - uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          name: aqua
          path: ~/.local/share/aquaproj-aqua
      - name: Set $PATH
        run: echo "$HOME/.local/share/aquaproj-aqua/bin" >> "$GITHUB_PATH"
      - run: cosign version
