---
name: test
on: pull_request
jobs:
  test:
    runs-on: ubuntu-24.04
    timeout-minutes: 15
    permissions:
      pull-requests: write
      contents: read
    steps:
      - run: echo "${{github.event.pull_request}}"
