---
name: test
on: pull_request
jobs:
  test:
    runs-on: ubuntu-24.04
    timeout-minutes: 10
    permissions:
      pull-requests: write
    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false
      - uses: aquaproj/aqua-installer@v4.0.4
        with:
          aqua_version: v2.56.0
      - env:
          GITHUB_TOKEN: ${{github.token}}
        run: |
          pinact run --diff --format sarif |
            reviewdog -f sarif -name pinact -reporter github-pr-review -level warning -fail-level error
