---
name: test
on: pull_request
jobs:
  test:
    runs-on: ubuntu-24.04
    timeout-minutes: 15
    permissions:
      pull-requests: write
      contents: write
    steps:
      - uses: suzuki-shunsuke/update-pr-branch-action@latest
        with:
          max_behind_by: 0
