---
name: test
on: pull_request
jobs:
  test:
    runs-on: ubuntu-24.04
    timeout-minutes: 10
    permissions:
      pull-requests: write
    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false
      - uses: aquaproj/aqua-installer@v4.0.4
        with:
          aqua_version: v2.56.0
      - run: pinact run --diff --format sarif > sarif.json || true
      # - env:
      #     REVIEWDOG_GITHUB_API_TOKEN: ${{github.token}}
      #   run: |
      #     pinact run --diff --format sarif |
      #       reviewdog -f sarif -name pinact -reporter github-pr-review -level warning -fail-level warning
      - name: Upload SARIF file
        uses: github/codeql-action/upload-sarif@v4
        with:
          # Path to SARIF file relative to the root of the repository
          sarif_file: sarif.json
          # Optional category for the results
          # Used to differentiate multiple results for one commit
          category: pinact
