---
name: test
on: pull_request
jobs:
  test:
    runs-on: ubuntu-24.04
    steps:
      - run: echo "yooo" > yooo.txt
      - uses: suzuki-shunsuke/commit-action@pr/224
        with:
          app_id: ${{ vars.APP_ID }}
          app_private_key: ${{ secrets.APP_PRIVATE_KEY }}
          commit_message: "Add yooo.txt"
